/* Customizações da MekaByte */
.text-info {
    color: #0dcaf0 !important;
}

.btn-info {
    background-color: #0dcaf0;
    border-color: #0dcaf0;
    color: #111;
}

.btn-info:hover {
    background-color: #0baccc;
    border-color: #0baccc;
    color: #111;
}

/* Garante o foco visual padrão do Bootstrap com a nossa paleta */
.form-control:focus {
    border-color: #0dcaf0;
    box-shadow: 0 0 0 0.25rem rgba(13, 202, 240, 0.25);
}